<mat-card class="movie-card">
  <div
    class="movie-background"
    [style.backgroundImage]="'url(' + movie.ImagePath + ')'"
  ></div>
  <div class="movie-info">
    <mat-card-header class="movie-title">{{ movie.Title }}</mat-card-header>

    <mat-card-actions class="movie-actions">
      <div class="description">
        <button
          mat-button
          color="primary"
          (click)="getDescription(movie.Description)"
        >
          Description
        </button>
      </div>

      <div class="director">
        <button
          mat-button
          color="primary"
          (click)="getDirector(movie.Director)"
        >
          Director
        </button>
      </div>

      <div class="genre">
        <button mat-button color="primary" (click)="getGenre(movie.Genre)">
          Genre
        </button>
      </div>

      <div class="favorite-button">
        <button
          mat-icon-button
          (click)="
            isFavorite(movie._id)
              ? deleteFavorite(movie._id)
              : addFavorite(movie._id)
          "
          [ngClass]="
            isFavorite(movie._id) ? 'mat-flat-button' : 'mat-icon-button'
          "
        >
          <mat-icon
            >{{ isFavorite(movie._id) ? "favorite" : "favorite_border" }}
          </mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </div>
</mat-card>
